@import "@fontsource-variable/archivo";
@import "tailwindcss";

@theme {
  --color-border: #441152;
  --color-link: #00949f;

  --font-sans:
    "Archivo Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
